input {
  file {
    path => ["/home/fedops/fl_client.log", "/home/fedops/fl_client_manager.log"]
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
  dissect {
    mapping => { "message" => "%{ts} %{+ts} [    %{loglevel}] %{title} - %{json_contents}" }
  }

  mutate {
    gsub => [ "message", "\},\{", "\r\n"]
  }

  json {
    source => "json_contents"
    target => "doc"
  }
}

output {
  elasticsearch {
    hosts => ["http://es:9200"]
    index => "fl-client"
  }
  stdout {
    codec => rubydebug
  }
}
